
    <div class="input-group flex-nowrap">
      <span class="input-group-text">ProductID</span>
      <input type="text" class="form-control" id="ProductID" readonly>
    </div>
    <div class="input-group flex-nowrap">
      <span class="input-group-text" >Temperature</span>
      <input type="text" class="form-control"  id="Temperature" readonly>
    </div>

    <div class="input-group flex-nowrap">
      <span class="input-group-text" >Weight</span>
      <input type="text" class="form-control"  id="Weight" readonly>
    </div>

    <div class="input-group flex-nowrap">
      <span class="input-group-text" >Quantity</span>
      <input type="text" class="form-control"  id="quantity"readonly >
    </div>

    <div class="input-group flex-nowrap">
      <span class="input-group-text" >Dimensions</span>
      <input type="text" class="form-control"  id="Dimentions" readonly>
    </div>
