<div class="row">
  <div class="col order-first">
    <!-- canvas field -->
    <app-my-scene></app-my-scene>
    
  </div>
  <div class="col order-last">
    <!-- input field right -->
    <div app-new-product></div>

    <app-product-details></app-product-details>

  <div class="container" style="margin: left 0px;">
    <div class="row">
      <div class="col" style="padding:2px ;">
           <!-- stage fields -->
           <app-check-stage></app-check-stage>

      </div>
      <div class="col" style="padding:1px">
        <!-- results div -->
        <app-results-bar></app-results-bar>

      </div>
    </div>
    </div>
  </div>
</div>